body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo{
   background: #235E3d;
}

#menu ul li:hover{
    background: #235e3d;
}

.button-more{
    background: #235e3d;   
}

